body {
  background-image: url('https://cdn.dribbble.com/users/59947/screenshots/2568439/lollies_dribbble.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container.order {
  max-width: 40%;
  min-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  color: #fff;
  .order-container {
    border-radius: 15px;
    padding: 25px;
    background-color: rgba(0, 0, 0, .3);
    .item-info {
      font-size: 1.2em;
    }
  }
  .eta {
    margin-top: 15px;
    h4 {
      font-style: italic;
      strong {
        font-size: 1.1em;
      }
    }
  }
  .item-price {
    font-size: 1.1em;
  }
  .order-id {
    margin-bottom: 30px;
  }
  hr {
    text-align: right;
    margin-right: 0;
    width: 30%;
    border-top: 1px solid #fff;
    margin-top: 30px;
  }
  .totals {
    p {
      font-size: 1.3em;
    }
  }
  .thank-you {
    font-size: 1.3em;
    font-style: italic;
    color: #fff;
    width: 100%;
    margin: 20px auto;
    img {
      display: block;
      margin: 0 auto;
      color: #fff;
    }
  }
}
