
#footer {
  background-color: #545454;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 2;

  .total {
    padding: 12px 10px;
    float: right;
  }


  .checkout {
    float: right;
    border-radius: 5px;
    font-size: large;
    background-color: #6F90A2;
    color: white;
    padding: 0 15px;
    margin: 10px 10px;
    }

  .checkout:hover {
    background-color: #477187;
  }

  .checkout-hidden {
    visibility: hidden;
  }

}
