.item {
    margin: 25px 0;

    .img-responsive {
      max-width: 100%;
      margin-bottom: 10px;
    }

    .top-item {

      p {
        display: inline;
      }

      .add-item {
        background-color: #000000;
        border-radius: 5px;
        // border: none;
        // font-size: x-large;
        color: white;
        float: right;
      }
    }
}
