html {
  background: url('../images/fast.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.container.all-items {
  // width: 100%;
  display: flex;
  justify-content: space-around;
}
.item {
    margin: 20px 0;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #fff;
    width: 30% !important;
    height: 300px;
    background-color: rgba(255, 255, 255, .5);
    .img-responsive {
      max-width: 40%;
      margin: 20px 0 10px 20px;
      margin-bottom: 10px;
      border: 1px solid #eee;
      border-radius: 40px;
    }
    .item-info {
      display: flex;
      justify-content: space-between;
      padding: 0 15px 0 15px;
    }
    .top-item {
      text-align: right;
      .food-price {
        font-size: 1.5em;
      }
      .add-item {
        // background-color: #000000;
        border-radius: 5px;
        // border: none;
        // font-size: x-large;
        color: white;
        float: right;
      }
    }
    .description {
      padding-bottom: 15px;
    }
}

#mini-cart {
  border-radius: 5px;
  font-size: large;
  // background-color: #6F90A2;
  color: white;
  padding: 0 15px;
  margin: 10px 10px;
}

.site-wrapper {
  color: #000;
  height: 100%;
  background: url('../images/fast.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.checkout {
  .toggle-cart {
    background-color: none;
  }
}
.partial-cart {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 999999;
}
.partial-cart .container.order {
  position: relative;
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  background-color: #eee;
  border-radius: 20px;
  border: 2px solid #fff;
  overflow: scroll;
  height: 70%;
}
.adjust-item {
  list-style: none;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}

.new-submit-btn {
  display: block;
  // position: fixed;
  padding: 15px;
  font-size: 1.5em;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 15px;
  outline: none;
}

.order-wrapper {
  max-width: 90%;
  margin: 0 auto;
}

#main-nav.navbar {
  opacity: 1;
}
