.item {
    margin: 25px 0;

    .img-responsive {
      max-width: 100%;
      margin-bottom: 10px;
    }

    .top-item {

      p {
        display: inline;
      }

      .add-item {
        background-color: #000000;
        border-radius: 5px;
        // border: none;
        // font-size: x-large;
        color: white;
        float: right;
      }
    }
}

#mini-cart {
  border-radius: 5px;
  font-size: large;
  background-color: #6F90A2;
  color: white;
  padding: 0 15px;
  margin: 10px 10px;
}

.partial-cart {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 999999;
}
.partial-cart .container.order {
  position: relative;
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  background-color: #eee;
  border-radius: 20px;
  border: 2px solid #fff;
  overflow: scroll;
  height: 70%;
}
.adjust-item {
  list-style: none;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
}

.order-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
