body {
  background-image: url('https://cdn.dribbble.com/users/778581/screenshots/2049806/foodtruck_dribble.gif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

table {
    border-collapse: collapse;
    width: 60%;
    border: 1px solid black;
    // border-spacing: 1rem;
    margin: 0 auto;
    color: #000;
    .btn {
      position: absolute;
      &:first-child {
        top: 0;
      }
      &:last-child {
        bottom: 0;
      }
      left: 0;
      width: 100%;
      height: 50%;
      border-radius: 0;
    }
    .extra-details {
      display: none;
    }
}
th, td {
  background-color: rgba( 255, 255, 255, .7);
  position: relative;
  //  border: 1px solid white;
   padding: 25px;
   text-align:center;
}
th {
  height: 30px;
  background-color: rgba( 255, 255, 255, 1);
  color: black;
}

tr{
  height: 25px;
  border: 1px solid black;

  .hd {
    text-align: center;
  }

}

tr:hover {
  background-color: #f5f5f5;
}

#image-details {
  width: 10%;
}

#display-details {
  background-color: #fff;
}

// #details {
//   background-color: #fff;
// }
